/* *******************
*
* Color Guide
*
* black = #231F20
* orange = #F5851F
* white = #FFFFFF
* grey = #58585A
*
******************* */



.bgblack {
	background-color: #231F20;
}

.textwhite {
	color: #fff;
}

.textorange {
	color: #F5851F;
}

.textlightgrey {
	color: #ccc;
}

.smallcaps {
	font-variant:small-caps;
}

.allcaps {
	text-transform: uppercase;
}

.date {
	font-size: 2.5em;
}

.time {
	font-size: 1.5em;
}

/*.panel {
	background-color: #58585A;
	border-color: #58585A;
}*/

.panel.radius {
	-webkit-border-radius: 7px;
			border-radius: 7px;
}

.alert {
	color: #cc0000;
	font-weight: bold;
}

.bgorange {
	background-color: #F5851F;
}

.borderpink {
	border-color: #f79d4b;
}